/* Estilos para la página principal */

body {
    background-color: #f0f0f0; /* Color de fondo del body */
    margin: 0;
    padding: 0;
}

.logo-header {
    width: 80px; /* Ancho del logotipo en el header */
    height: auto; /* Altura automática del logotipo en el header */
    margin-left: 10px; /* Margen izquierdo para el logotipo */
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4a4a4a; /* Color de fondo del header */
}

.left-group {
    display: flex;
    align-items: center;
}

.left-group h1 {
    font-size: 1.5rem; /* Tamaño de fuente para el título en el grupo left-group */
    margin-left: 10px; /* Margen izquierdo para el título en el grupo left-group */
    color: #fff; /* Color de texto en el grupo left-group */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem; /* Tamaño de fuente de la lista en el header */
    text-align: center; /* Alineación centrada del texto en la lista */
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f8f8f8; /* Color de texto en el header */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 100%; /* Ancho máximo del contenido en el contenedor */
    margin: 0 auto; /* Centrar el contenido en el contenedor */
}

footer {
    background-color: #4a4a4a; /* Color de fondo del footer */
    padding: 1rem;
    text-align: center;
    color: #fff; /* Color de texto en el footer */
}

footer .logo-img {
    width: 50px; /* Ancho del logotipo en el footer */
    height: auto; /* Altura automática del logotipo en el footer */
}
/*pedidos*/

/* Estilos específicos para la página de cotizaciones */

.cotizaciones-main {
    min-height: calc(100vh - 200px); /* Ajustar la altura mínima del main según el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 0;
}

.btn-primary {
    display: block;
    width: 100%;
}

/*Log in*/
.banner{
    padding-top: 1.2rem;
    text-align: center;
}

/* Estilos para la sección main de verificación de pedidos */

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group-text {
    width: 200px;
}

.form-control {
    width: calc(100% - 200px);
}

.nav-masthead {
    margin-top: 1rem;
}

.float-md-start {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.float-md-end {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.col {
    margin-bottom: 1.5rem;
}

.text-end {
    text-align: right;
}

/*Cliente*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #f8f8f8;
    padding: 10px;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.input-group-text {
    background-color: #f8f8f8;
    width: 100px;
}

.label-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-group label {
    margin-right: 10px;
}

.form-control {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
}


