<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Bari Electro Control</title>

   <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    
    <!-- Bootstrap core CSS -->
<link href="../static/bootstrap.min.css" rel="stylesheet">

        
    <!-- Custom styles for this template -->
    <link href="../static/headers.css" rel="stylesheet">
    <link href="../static/signin.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body>
    

<main>
  <section>
      <p th:text=${mensaje}></p>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="clientes.html" class="nav-link px-2 link-dark">Clientes</a></li>
            <li><a href="pedidos.html" class="nav-link px-2 link-dark">Pedidos</a></li>
            <li><a href="empleados.html" class="nav-link px-2 link-dark">Empleados</a></li>
            <li><a href="Dashboard.html" class="nav-link px-2 link-dark">Dashboard</a></li>
        </ul>

      <div class="col-md-3 text-end">
          <button type="button" class="btn btn-primary">Sign-out</button>
      </div>
    </header>

    <img src="../images/BEC-.png" class="Logo" alt="...">
  
    
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="max-width: 600px;">
        <div class="mb-auto">
          <h3 class="float-md-start mb-0">Registro</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
          </nav>
        </div>
        <h4 class="h3 mb-3 fw-normal"></h4>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Recuerdame
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      </div>
    </div>
  </section>
  </main>
  
  <footer>
    <p class="mt-5 mb-3 text-muted">&copy; Equipo 14</p>
    <img src="../images/Logo.png" class="LOGOIMG" alt="...">
  </footer>
  <script src="../static/bootstrap.bundle.min.js"></script>
    
</body>

</html>
