<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Bari Electro Control</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <!--<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">-->

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <style>
      .Logo {
        position: fixed;
        top: 10px; 
        left: 50px; 
        width: 20%;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="../static/headers.css" rel="stylesheet">
    <link href="../static/signin.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body>
    

<main>
  <section>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a href="clientes.html" class="nav-link px-2 link-dark">Clientes</a></li>
        <li><a href="pedidos.html" class="nav-link px-2 link-dark">Pedidos</a></li>
        <li><a href="empleados.html" class="nav-link px-2 link-dark">Empleados</a></li>
        <li><a href="Dashboard.html" class="nav-link px-2 link-dark">Dashboard</a></li>
      </ul>

    <div class="col-md-3 text-end">
          <button type="button" class="btn btn-primary">Sign-out</button>
    </div>
    </header>

    <img src="../images/BEC-.png" class="Logo" alt="...">

    <h1>Agregar pedido:</h1>

    <div class="container">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Cliente</span>
            <input type="text" class="form-control" placeholder="Cliente" aria-label="Cliente" aria-describedby="basic-addon1">

            <span class="input-group-text" id="basic-addon2">Contacto</span>
            <input type="text" class="form-control" placeholder="Contacto" aria-label=Contacto" aria-describedby="basic-addon2">

            <span class="input-group-text" id="basic-addon4">Equipo</span>
            <input type="text" class="form-control" placeholder="Equipo" aria-label="Equipo" aria-describedby="basic-addon3">

            <span class="input-group-text" id="basic-addon5">Fecha</span>
            <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono" aria-describedby="basic-addon4">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon6">Cliente</span>
            <input type="text" class="form-control" placeholder="Potencia" aria-label="Potencia" aria-describedby="basic-addon6">

            <span class="input-group-text" id="basic-addon7">Unidad de medida</span>
            <input type="text" class="form-control" placeholder="Unidad de Medida" aria-label="Unidad de medida" aria-describedby="basic-addon7">

            <span class="input-group-text" id="basic-addon8">Equipo</span>
            <input type="text" class="form-control" placeholder="RPM" aria-label="RPM" aria-describedby="basic-addon8">

            <span class="input-group-text" id="basic-addon9">Frecuencia</span>
            <input type="text" class="form-control" placeholder="Frecuencia" aria-label="Frecuencia" aria-describedby="basic-addon9">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon10">Amperes</span>
            <input type="text" class="form-control" placeholder="Amperes" aria-label="Amperes" aria-describedby="basic-addon10">

            <span class="input-group-text" id="basic-addon11">Armazon</span>
            <input type="text" class="form-control" placeholder="Armazón" aria-label="Armazón" aria-describedby="basic-addon11">

            <span class="input-group-text" id="basic-addon12">Marca</span>
            <input type="text" class="form-control" placeholder="Marca" aria-label="Marca" aria-describedby="basic-addon12">

            <span class="input-group-text" id="basic-addon13">Serie</span>
            <input type="text" class="form-control" placeholder="Serie" aria-label="Serie" aria-describedby="basic-addon13">
          </div>

          <h1>Trabajo:</h1>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon14">Desensamblaje</span>
            <input type="text" class="form-control" placeholder="Desensamblaje" aria-label="Desensamblaje" aria-describedby="basic-addon14">

            <span class="input-group-text" id="basic-addon15">Ensamblaje</span>
            <input type="text" class="form-control" placeholder="Ensamblaje" aria-label="Ensamblaje" aria-describedby="basic-addon15">

            <span class="input-group-text" id="basic-addon16">Embobinado</span>
            <input type="text" class="form-control" placeholder="Embobinado" aria-label="Embobinado" aria-describedby="basic-addon16">

            <span class="input-group-text" id="basic-addon17">Pruebas</span>
            <input type="text" class="form-control" placeholder="Pruebas" aria-label="Pruebas" aria-describedby="basic-addon17">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon18">Notas</span>
            <input type="text" class="form-control" placeholder="Notas" aria-label="Notas" aria-describedby="basic-addon14">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon19">Estatus</span>
            <input type="text" class="form-control" placeholder="Estatus" aria-label="Estatus" aria-describedby="basic-addon15">

            <span class="input-group-text" id="basic-addon20">Factura</span>
            <input type="text" class="form-control" placeholder="Factura" aria-label="Factura" aria-describedby="basic-addon16">
          </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Guardar</button>

      <div class="container2">
        <h1>Registros de clientes:</h1>
        <table class="table table-striped table-hover table-bordered border-primary">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Contacto</th>
            <th scope="col">Equipo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Potencia</th>
            <th scope="col">U. de medida</th>
            <th scope="col">R.P.M.</th>
            <th scope="col">Frecuencia</th>
            <th scope="col">Amperes</th>
            <th scope="col">Armazón</th>
            <th scope="col">Marca</th>
            <th scope="col">Serie</th>
            <th scope="col">Desensamblaje</th>
            <th scope="col">Ensamblaje</th>
            <th scope="col">Embobinado</th>
            <th scope="col">Pruebas</th>
            <th scope="col">Notas</th>
            <th scope="col">Estatus</th>
            <th scope="col">Factura</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>

      </div>
    </div>

    </div>
  </section>

</main>
  
  <footer>
    <p class="mt-5 mb-3 text-muted">&copy; Equipo 14</p>
    <img src="../images/Logo.png" class="LOGOIMG" alt="...">
  </footer>
  <script src="../static/bootstrap.bundle.min.js"></script>

</body>

</html>
