<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Bari Electro Control</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/headers.css" rel="stylesheet">
    <link href="../static/signin.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="../static/headers.css" rel="stylesheet">
  </head>
  <body>


    <main>
      <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Clientes</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Cotizaciones</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Dashboard</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Inventario</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
          </ul>

          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary">Sign-out</button>
          </div>
        </header>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="input-group" style="max-width: 600px;">
                <span class="input-group-text">Nombre y Apellido</span>
                <input type="text" aria-label="Nombre" class="form-control">
                <input type="text" aria-label="Apellido" class="form-control">
              </div>

              <div class="input-group" style="max-width: 600px;">
                <span class="input-group-text">Cliente</span>
                <input type="text" aria-label="Nombre" class="form-control">
              </div>
            </div>
            <div class="col">
              <div class="mb-auto">
                <h4 class="float-md-start mb-0">Motor</h4>
                <nav class="nav nav-masthead justify-content-center float-md-end"> </nav>
              </div>


              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Motor AC
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Motor DC
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  Motor Nuevo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                  Motorreductor
                </label>
              </div>
            </div>
            <div class="col">
              Column
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p class="mt-5 mb-3 text-muted">&copy; Equipo 14</p>
    </footer>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>