<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Bari Electro Control</title>

   <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">
  </head>
  <body>
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="left-group">
              <img src="../images/gear.png" alt="Logo" class="logo-header">
              <h1 class="textH1">Bari Electro Control</h1>
          </div>

          <nav>
              <ul class="nav">
                  <li class="nav-item"><a href="index.html" class="nav-link px-2 link-dark">Inicio</a></li>
                  <li class="nav-item"><a href="clientes.html" class="nav-link px-2 link-dark">Clientes</a></li>
                  <li class="nav-item"><a href="pedidos.html" class="nav-link px-2 link-dark">Pedidos</a></li>
                  <li class="nav-item"><a href="cotizaciones.html" class="nav-link px-2 link-dark">Cotizaciones</a></li>
                  <li class="nav-item"><a href="login.html" class="nav-link px-2 link-dark">Ingresar</a></li>
              </ul>

          </nav>
      </header>

      <main>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-header">
                              <h3 class="card-title">Registro</h3>
                          </div>
                          <div class="card-body">
                              <form>
                                  <div class="mb-3">
                                      <label for="name" class="form-label">Nombre</label>
                                      <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
                                  </div>
                                  <div class="mb-3">
                                      <label for="lastname" class="form-label">Apellido</label>
                                      <input type="text" class="form-control" id="lastname" placeholder="Ingrese su apellido">
                                  </div>
                                  <div class="mb-3">
                                      <label for="email" class="form-label">Correo electrónico</label>
                                      <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                  </div>
                                  <div class="mb-3">
                                      <label for="password" class="form-label">Contraseña</label>
                                      <input type="password" class="form-control" id="password" placeholder="Contraseña">
                                  </div>
                                  <div class="mb-3">
                                      <label for="confirm-password" class="form-label">Confirmar contraseña</label>
                                      <input type="password" class="form-control" id="confirm-password" placeholder="Confirmar contraseña">
                                  </div>
                                  <div class="mb-3 form-check">
                                      <input type="checkbox" class="form-check-input" id="remember-me">
                                      <label class="form-check-label" for="remember-me">Recuérdame</label>
                                  </div>
                                  <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>


      <footer>
        <div class="container">
            <p class="mt-5 mb-3 text-muted">&copy; Equipo 14</p>
            <img src="../images/Logo.png" class="logo-img" alt="Logo">
        </div>
      </footer>
      <script src="../static/bootstrap.bundle.min.js"></script>
  </body>

</html>
